	 #leftSideBlock {
	     float:left;
	     border:2px solid #0A6BB3;
	     padding:5px;
	     background:#ffffff;
	 }

	 #h3-title {
	     display: block;
	 }

	 #nameButton { 
	     background-color:#0A6BB3;
	     color:#ffffff;
	     cursor: pointer;
	 }
	 
	 #paddingResult {
	     padding:20px;
	     margin:20px;
	 }

	 .catOfHash {
	     background:#C7F8F6;
	 }

	 .dbug { border: 1px dotted #0A6BB3 }

	 .fileUploadedAndRemoved {
	     background:#58F571;
	     text-align: center;
	     font-size:80%;
	 }

	 .header {
	     border-radius: 15px;
	     padding: 10px;
	     margin:10px;
	     text-align: center;
	     background:#0A6BB3;
	     font-weight: bold;
	     color:white;
	     font-size: 30px;
	     font:"Fira Sans", serif;
	 }

	 .pinButton {
	     background:#ffffff;
	 }

	 .title {
	     border-radius: 10px;
	     padding: 10px;
	     margin:10px;
	     text-align: center;
	     background:#0A6BB3;
	     font-weight: bold;
	     color:white;
	     font:"Fira Sans", serif;
	 }

	 .typeAndHash {
	     padding:10px;
	     margin:10px;
	 }

	 .whiteOnDarkBlue {
	     border-radius:5px;
	     background:#0A6BB3;
	     color:white;
	     font-weight: bold;
	     text-align: center;
	 }
	 
	 .butBack {
	     background:#0A6BB3;
	     border-radius:10px;
	 }
	 
	 .butBack:hover {
	     cursor:pointer;
	     border: 2px solid;
	     border-color:#8E9493;
	 }